.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.972000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.048340;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.728000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.128000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249894,0.007281,-0.007281,0.249894,0,0);-ms-transform:matrix(0.249894,0.007281,-0.007281,0.249894,0,0);-webkit-transform:matrix(0.249894,0.007281,-0.007281,0.249894,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-7.689055px;}
._2{margin-left:-6.381168px;}
._0{margin-left:-5.120760px;}
._3{margin-left:-3.727562px;}
._5{margin-left:-2.117916px;}
._4{margin-left:-1.103835px;}
._b{width:1.040968px;}
._d{width:2.803711px;}
._f{width:6.211428px;}
._e{width:7.271104px;}
._11{width:8.619655px;}
._c{width:9.727229px;}
._10{width:11.719237px;}
._a{width:12.854586px;}
._9{width:13.912527px;}
._7{width:17.486802px;}
._6{width:18.611029px;}
._8{width:23.095362px;}
._14{width:30.326467px;}
._12{width:33.150220px;}
._13{width:45.639507px;}
.fc4{color:rgb(0,196,204);}
.fc0{color:rgb(0,0,0);}
.fc3{color:rgb(255,255,255);}
.fc1{color:rgb(144,16,77);}
.fc2{color:rgb(255,221,58);}
.fs1c{font-size:86.620920px;}
.fsf{font-size:95.904067px;}
.fs15{font-size:95.997628px;}
.fs14{font-size:95.999996px;}
.fs9{font-size:96.511517px;}
.fs8{font-size:102.135122px;}
.fse{font-size:107.848753px;}
.fs11{font-size:115.989605px;}
.fs1d{font-size:116.418642px;}
.fsc{font-size:120.886828px;}
.fs0{font-size:127.984368px;}
.fs17{font-size:127.990654px;}
.fs7{font-size:150.128129px;}
.fs1a{font-size:160.098595px;}
.fsb{font-size:164.150355px;}
.fs6{font-size:167.999993px;}
.fs2{font-size:171.579611px;}
.fs1{font-size:191.976551px;}
.fsd{font-size:193.031093px;}
.fsa{font-size:222.180570px;}
.fs13{font-size:223.994458px;}
.fs12{font-size:223.995081px;}
.fs1b{font-size:255.989995px;}
.fs4{font-size:257.369425px;}
.fs18{font-size:287.999988px;}
.fs3{font-size:397.144319px;}
.fs19{font-size:415.979995px;}
.fs16{font-size:415.994994px;}
.fs10{font-size:415.995716px;}
.fs5{font-size:437.079534px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000015px;}
.y34{bottom:27.830895px;}
.y56{bottom:33.225178px;}
.y46{bottom:37.277843px;}
.y33{bottom:56.533715px;}
.y32{bottom:85.236535px;}
.y4a{bottom:87.976871px;}
.y31{bottom:113.939356px;}
.y49{bottom:119.701041px;}
.yb{bottom:130.553857px;}
.y30{bottom:142.642176px;}
.y48{bottom:151.425210px;}
.y55{bottom:157.411865px;}
.y59{bottom:158.365909px;}
.y53{bottom:160.260545px;}
.y2f{bottom:171.344996px;}
.ya{bottom:175.874099px;}
.y47{bottom:183.149380px;}
.y2e{bottom:200.047817px;}
.y52{bottom:204.581309px;}
.y9{bottom:207.598269px;}
.y2d{bottom:228.750637px;}
.y8{bottom:239.322439px;}
.y51{bottom:248.902073px;}
.y2c{bottom:257.453457px;}
.y7{bottom:271.046609px;}
.y2b{bottom:286.156278px;}
.y50{bottom:293.222837px;}
.y6{bottom:302.770779px;}
.y2a{bottom:314.859098px;}
.y5{bottom:334.494949px;}
.y4f{bottom:337.543600px;}
.y29{bottom:343.561918px;}
.y4{bottom:366.219118px;}
.y28{bottom:372.264738px;}
.y3{bottom:397.943288px;}
.y27{bottom:400.967559px;}
.y43{bottom:400.969666px;}
.y2{bottom:429.667458px;}
.y26{bottom:429.670379px;}
.y42{bottom:432.693836px;}
.y25{bottom:458.373199px;}
.y41{bottom:464.418005px;}
.y24{bottom:487.076020px;}
.y58{bottom:492.542787px;}
.y40{bottom:496.142175px;}
.y23{bottom:515.778840px;}
.y5a{bottom:522.065110px;}
.y22{bottom:544.481660px;}
.y57{bottom:568.993104px;}
.y21{bottom:573.184481px;}
.y20{bottom:601.887301px;}
.y54{bottom:628.062166px;}
.y1f{bottom:630.590121px;}
.y3e{bottom:644.465965px;}
.y17{bottom:657.025439px;}
.y1e{bottom:659.292942px;}
.y16{bottom:672.713483px;}
.y3d{bottom:676.190134px;}
.y1d{bottom:687.995762px;}
.y19{bottom:689.527598px;}
.y3c{bottom:707.914304px;}
.ye{bottom:709.907739px;}
.y15{bottom:716.681415px;}
.y1c{bottom:716.698582px;}
.y3b{bottom:739.638474px;}
.y1b{bottom:745.401402px;}
.yd{bottom:767.234651px;}
.y14{bottom:770.602894px;}
.y3a{bottom:771.362644px;}
.y12{bottom:772.221415px;}
.y11{bottom:799.271423px;}
.y35{bottom:803.623791px;}
.y13{bottom:842.731560px;}
.yc{bottom:863.688269px;}
.y1a{bottom:870.839607px;}
.y18{bottom:876.118528px;}
.y4e{bottom:1045.326518px;}
.y4d{bottom:1099.907928px;}
.y3f{bottom:1130.344640px;}
.y39{bottom:1178.858063px;}
.y37{bottom:1185.957659px;}
.y4c{bottom:1194.468780px;}
.y38{bottom:1229.674321px;}
.y36{bottom:1236.870454px;}
.y10{bottom:1264.469698px;}
.y4b{bottom:1289.029632px;}
.y45{bottom:1291.956508px;}
.yf{bottom:1317.952834px;}
.y44{bottom:1335.456506px;}
.h1f{height:78.542505px;}
.h12{height:86.959889px;}
.h18{height:87.044724px;}
.hc{height:87.510687px;}
.h14{height:89.543975px;}
.h17{height:89.951996px;}
.hb{height:92.609825px;}
.h11{height:97.790593px;}
.h3{height:98.803932px;}
.h20{height:105.561240px;}
.hf{height:109.612714px;}
.h1a{height:119.927243px;}
.ha{height:136.126922px;}
.h4{height:148.205897px;}
.he{height:148.841411px;}
.h1d{height:150.012384px;}
.h5{height:155.577802px;}
.h9{height:157.415993px;}
.h10{height:175.028682px;}
.hd{height:201.459628px;}
.h16{height:203.104350px;}
.h15{height:203.104915px;}
.h1e{height:232.115928px;}
.h7{height:233.366710px;}
.h1b{height:261.140614px;}
.h6{height:360.105958px;}
.h1c{height:377.184985px;}
.h19{height:377.198586px;}
.h13{height:377.199240px;}
.h8{height:396.316745px;}
.h2{height:1439.999920px;}
.h0{height:1439.999935px;}
.h1{height:1440.000000px;}
.w1{width:809.999966px;}
.w0{width:810.000000px;}
.x0{left:0.000000px;}
.xc{left:23.488008px;}
.x2{left:28.057252px;}
.x1{left:34.678256px;}
.x3{left:38.903425px;}
.x1a{left:39.906136px;}
.x6{left:54.352434px;}
.x1d{left:72.132309px;}
.x2b{left:73.248250px;}
.x1b{left:76.184040px;}
.x2c{left:79.848787px;}
.x19{left:90.709133px;}
.x22{left:101.355142px;}
.x17{left:109.632694px;}
.x21{left:128.043019px;}
.x18{left:130.966460px;}
.x1f{left:152.522960px;}
.x1c{left:164.050687px;}
.x20{left:170.030772px;}
.x13{left:172.200038px;}
.xe{left:174.809697px;}
.x4{left:194.526532px;}
.x24{left:205.163562px;}
.xb{left:218.178137px;}
.x7{left:228.127240px;}
.xf{left:241.635202px;}
.x1e{left:250.763135px;}
.x14{left:278.566475px;}
.x8{left:286.583275px;}
.xd{left:304.919577px;}
.x23{left:307.130247px;}
.xa{left:309.195736px;}
.x25{left:314.364380px;}
.x15{left:316.101127px;}
.x2e{left:318.561352px;}
.x10{left:333.546557px;}
.x5{left:402.102685px;}
.x9{left:417.405983px;}
.x2a{left:431.438590px;}
.x12{left:453.898898px;}
.x28{left:456.820658px;}
.x27{left:458.837975px;}
.x2d{left:484.311978px;}
.x29{left:486.884708px;}
.x16{left:500.164676px;}
.x26{left:504.287834px;}
.x11{left:539.798926px;}
.x2f{left:668.550685px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-10.252073pt;}
._2{margin-left:-8.508224pt;}
._0{margin-left:-6.827680pt;}
._3{margin-left:-4.970083pt;}
._5{margin-left:-2.823888pt;}
._4{margin-left:-1.471781pt;}
._b{width:1.387958pt;}
._d{width:3.738281pt;}
._f{width:8.281903pt;}
._e{width:9.694806pt;}
._11{width:11.492873pt;}
._c{width:12.969638pt;}
._10{width:15.625649pt;}
._a{width:17.139447pt;}
._9{width:18.550036pt;}
._7{width:23.315736pt;}
._6{width:24.814705pt;}
._8{width:30.793817pt;}
._14{width:40.435290pt;}
._12{width:44.200294pt;}
._13{width:60.852676pt;}
.fs1c{font-size:115.494561pt;}
.fsf{font-size:127.872089pt;}
.fs15{font-size:127.996837pt;}
.fs14{font-size:127.999995pt;}
.fs9{font-size:128.682022pt;}
.fs8{font-size:136.180163pt;}
.fse{font-size:143.798337pt;}
.fs11{font-size:154.652806pt;}
.fs1d{font-size:155.224857pt;}
.fsc{font-size:161.182437pt;}
.fs0{font-size:170.645824pt;}
.fs17{font-size:170.654205pt;}
.fs7{font-size:200.170839pt;}
.fs1a{font-size:213.464794pt;}
.fsb{font-size:218.867140pt;}
.fs6{font-size:223.999991pt;}
.fs2{font-size:228.772815pt;}
.fs1{font-size:255.968734pt;}
.fsd{font-size:257.374791pt;}
.fsa{font-size:296.240760pt;}
.fs13{font-size:298.659278pt;}
.fs12{font-size:298.660108pt;}
.fs1b{font-size:341.319994pt;}
.fs4{font-size:343.159233pt;}
.fs18{font-size:383.999984pt;}
.fs3{font-size:529.525759pt;}
.fs19{font-size:554.639993pt;}
.fs16{font-size:554.659992pt;}
.fs10{font-size:554.660954pt;}
.fs5{font-size:582.772712pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000020pt;}
.y34{bottom:37.107860pt;}
.y56{bottom:44.300238pt;}
.y46{bottom:49.703790pt;}
.y33{bottom:75.378287pt;}
.y32{bottom:113.648714pt;}
.y4a{bottom:117.302494pt;}
.y31{bottom:151.919141pt;}
.y49{bottom:159.601388pt;}
.yb{bottom:174.071809pt;}
.y30{bottom:190.189568pt;}
.y48{bottom:201.900281pt;}
.y55{bottom:209.882487pt;}
.y59{bottom:211.154545pt;}
.y53{bottom:213.680727pt;}
.y2f{bottom:228.459995pt;}
.ya{bottom:234.498799pt;}
.y47{bottom:244.199174pt;}
.y2e{bottom:266.730422pt;}
.y52{bottom:272.775079pt;}
.y9{bottom:276.797692pt;}
.y2d{bottom:305.000849pt;}
.y8{bottom:319.096585pt;}
.y51{bottom:331.869430pt;}
.y2c{bottom:343.271276pt;}
.y7{bottom:361.395479pt;}
.y2b{bottom:381.541703pt;}
.y50{bottom:390.963782pt;}
.y6{bottom:403.694372pt;}
.y2a{bottom:419.812130pt;}
.y5{bottom:445.993265pt;}
.y4f{bottom:450.058134pt;}
.y29{bottom:458.082558pt;}
.y4{bottom:488.292158pt;}
.y28{bottom:496.352985pt;}
.y3{bottom:530.591051pt;}
.y27{bottom:534.623412pt;}
.y43{bottom:534.626221pt;}
.y2{bottom:572.889944pt;}
.y26{bottom:572.893839pt;}
.y42{bottom:576.925114pt;}
.y25{bottom:611.164266pt;}
.y41{bottom:619.224007pt;}
.y24{bottom:649.434693pt;}
.y58{bottom:656.723717pt;}
.y40{bottom:661.522900pt;}
.y23{bottom:687.705120pt;}
.y5a{bottom:696.086814pt;}
.y22{bottom:725.975547pt;}
.y57{bottom:758.657472pt;}
.y21{bottom:764.245974pt;}
.y20{bottom:802.516401pt;}
.y54{bottom:837.416221pt;}
.y1f{bottom:840.786828pt;}
.y3e{bottom:859.287953pt;}
.y17{bottom:876.033919pt;}
.y1e{bottom:879.057255pt;}
.y16{bottom:896.951311pt;}
.y3d{bottom:901.586846pt;}
.y1d{bottom:917.327682pt;}
.y19{bottom:919.370131pt;}
.y3c{bottom:943.885739pt;}
.ye{bottom:946.543651pt;}
.y15{bottom:955.575220pt;}
.y1c{bottom:955.598110pt;}
.y3b{bottom:986.184632pt;}
.y1b{bottom:993.868537pt;}
.yd{bottom:1022.979535pt;}
.y14{bottom:1027.470525pt;}
.y3a{bottom:1028.483525pt;}
.y12{bottom:1029.628553pt;}
.y11{bottom:1065.695230pt;}
.y35{bottom:1071.498387pt;}
.y13{bottom:1123.642079pt;}
.yc{bottom:1151.584358pt;}
.y1a{bottom:1161.119476pt;}
.y18{bottom:1168.158038pt;}
.y4e{bottom:1393.768691pt;}
.y4d{bottom:1466.543904pt;}
.y3f{bottom:1507.126187pt;}
.y39{bottom:1571.810751pt;}
.y37{bottom:1581.276878pt;}
.y4c{bottom:1592.625040pt;}
.y38{bottom:1639.565762pt;}
.y36{bottom:1649.160606pt;}
.y10{bottom:1685.959597pt;}
.y4b{bottom:1718.706176pt;}
.y45{bottom:1722.608677pt;}
.yf{bottom:1757.270446pt;}
.y44{bottom:1780.608675pt;}
.h1f{height:104.723339pt;}
.h12{height:115.946519pt;}
.h18{height:116.059632pt;}
.hc{height:116.680916pt;}
.h14{height:119.391966pt;}
.h17{height:119.935995pt;}
.hb{height:123.479767pt;}
.h11{height:130.387457pt;}
.h3{height:131.738576pt;}
.h20{height:140.748320pt;}
.hf{height:146.150286pt;}
.h1a{height:159.902990pt;}
.ha{height:181.502562pt;}
.h4{height:197.607863pt;}
.he{height:198.455214pt;}
.h1d{height:200.016512pt;}
.h5{height:207.437069pt;}
.h9{height:209.887991pt;}
.h10{height:233.371575pt;}
.hd{height:268.612837pt;}
.h16{height:270.805800pt;}
.h15{height:270.806553pt;}
.h1e{height:309.487905pt;}
.h7{height:311.155613pt;}
.h1b{height:348.187485pt;}
.h6{height:480.141277pt;}
.h1c{height:502.913314pt;}
.h19{height:502.931448pt;}
.h13{height:502.932320pt;}
.h8{height:528.422327pt;}
.h2{height:1919.999893pt;}
.h0{height:1919.999913pt;}
.h1{height:1920.000000pt;}
.w1{width:1079.999955pt;}
.w0{width:1080.000000pt;}
.x0{left:0.000000pt;}
.xc{left:31.317345pt;}
.x2{left:37.409669pt;}
.x1{left:46.237675pt;}
.x3{left:51.871233pt;}
.x1a{left:53.208181pt;}
.x6{left:72.469913pt;}
.x1d{left:96.176412pt;}
.x2b{left:97.664333pt;}
.x1b{left:101.578719pt;}
.x2c{left:106.465049pt;}
.x19{left:120.945511pt;}
.x22{left:135.140190pt;}
.x17{left:146.176926pt;}
.x21{left:170.724026pt;}
.x18{left:174.621946pt;}
.x1f{left:203.363946pt;}
.x1c{left:218.734250pt;}
.x20{left:226.707695pt;}
.x13{left:229.600050pt;}
.xe{left:233.079596pt;}
.x4{left:259.368710pt;}
.x24{left:273.551416pt;}
.xb{left:290.904183pt;}
.x7{left:304.169653pt;}
.xf{left:322.180270pt;}
.x1e{left:334.350847pt;}
.x14{left:371.421967pt;}
.x8{left:382.111033pt;}
.xd{left:406.559437pt;}
.x23{left:409.506996pt;}
.xa{left:412.260981pt;}
.x25{left:419.152506pt;}
.x15{left:421.468170pt;}
.x2e{left:424.748469pt;}
.x10{left:444.728743pt;}
.x5{left:536.136913pt;}
.x9{left:556.541311pt;}
.x2a{left:575.251453pt;}
.x12{left:605.198531pt;}
.x28{left:609.094210pt;}
.x27{left:611.783967pt;}
.x2d{left:645.749304pt;}
.x29{left:649.179611pt;}
.x16{left:666.886235pt;}
.x26{left:672.383779pt;}
.x11{left:719.731901pt;}
.x2f{left:891.400914pt;}
}
